@import "'https://fonts.googleapis.com/css2?family=Roboto&display=swap')";

:root {
  --btn-color-box-shadow: rgba(64 83 252 24%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 1px 2px 5px rgb(109 101 101);
}

.sidebar {
  background-color: #0ea5e9;
  color: #fff;
  height: 100vh;
  width: 90%;
}

.icon {
  font-size: 50px;
  display: block;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 40px;
  color: #fff;
}

.logo-text > h1 {
  font-size: 15px;
  margin-left: 15px;
}

.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 40px;
  color: #fff;
}

.icon-text > p {
  margin-left: 10px;
  font-size: 14px;
}

.profile-picture {
  width: 50px;
  margin: 0 20px;
}

.list-items-bottom {
  margin-top: 50px;
}

.main {
  background-color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar,
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 45px;
}

.image-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 41%;
}

.search-icon {
  padding-right: 8px;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-left: 32px;
}

.form-input {
  width: 28rem;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  outline: none;
  opacity: 0.5;
  height: 22px;
}

.avatarnavbar {
  margin: 10px 20px;
  width: 8%;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 95px;
}

.project-text {
  margin-top: 20px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.anno-text {
  margin-top: 18px;
  padding-bottom: 8px;
}

.trendi-text {
  margin-top: 18px;
  padding-bottom: 8px;
}

.btn {
  background-color: #0ea5e9;
  width: 6rem;
  height: 35px;
  color: #fff;
  border: 1px solid #0ea5e9;
  border-radius: 20px;
  margin-right: 25px;
}

.btn:hover {
  background-color: #fff;
  color: #0ea5e9;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.projects {
  margin-left: 18px;
  width: 75%;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border-left: 6px solid #facc15;
  border-radius: 10px;
  width: 41%;
  margin-bottom: 16px;
  padding: 12px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 2px 5px rgb(109 101 101);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}

h6 {
  font-size: 18px;
}

.card p {
  font-size: 12px;
  color: #737373;
}

.ann-trend {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 20px;
}

.ann-card,
.trend-card {
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgb(109 101 101);
}

.ann-text {
  padding: 10px 15px;
}

.ann-text > h6,
.trend-text > h6 {
  font-size: 14px;
}

.ann-text p,
.trend-text > p {
  font-size: 11px;
  color: #737373;
}

.divider {
  border: 1px solid #737373;
  margin: auto;
  width: 85%;
  opacity: 0.5;
}

.trend {
  height: 49%;
}

.trend-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trend-image-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

.trend-profile {
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 4px;
  width: 12%;
}

.trend-text {
  margin-left: 15px;
}
