@import "'https://fonts.googleapis.com/css2?family=Roboto&display=swap')";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  background-color: #0ea5e9;
  color: white;
  height: 100vh;
}

.icon {
  font-size: 50px;
  display: block;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 40px;
  color: white;
}

.logo-text > h1 {
  font-size: 15px;
  margin-left: 15px;
}

.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 40px;
  color: white;
}

.icon-text > p {
  margin-left: 10px;
  font-size: 14px;
}

.profile-picture {
  width: 65px;
  margin: 0 20px;
}

.list-items-bottom {
  margin-top: 50px;
}

.main {
  background-color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.navbar,
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-input {
  width: 500px;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  margin-left: 20px;
  margin-right: 200px;
}

.avatarnavbar {
  margin: 0 20px;
  width: 50px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-text {
  margin-right: 20px;
}

.btn {
  background-color: #0ea5e9;
  width: 70px;
  height: 35px;
  color: white;
  border: 1px solid #0ea5e9;
  border-radius: 20px;
}

.content {
  background: #d4d4d4;
  display: flex;
  flex-direction: row;
  height: 80%;
  overflow: auto;
}

.projects {
  width: 75%;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  background-color: white;
  border-left: 6px solid #facc15;
  border-radius: 10px;
  width: 43%;
  margin-bottom: 16px;
  padding: 12px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}

h6 {
  font-size: 18px;
  margin-top: 20px;
}

.card p {
  font-size: 12px;
  color: #737373;
  margin: 10px 0;
}

h4 {
  margin-top: 20px;
}

.ann-trend {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.ann-card,
.trend-card {
  width: 80%;
  background-color: white;
  border-radius: 5px;
}

.ann-text {
  padding: 10px 15px;
}

.ann-text > h6,
.trend-text > h6 {
  font-size: 14px;
}

.ann-text p,
.trend-text > p {
  font-size: 11px;
  color: #737373;
}

.divider {
  border: 0.5px solid #737373;
  width: 80%;
  margin-left: 20px;
}

.trend-card {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trend-image-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
}

.trend-profile {
  width: 50px;
}

.trend-text {
  margin-left: 20px;
}
